<form (ngSubmit)="onSignUpSubmit()" #f="ngForm">
  <div class="form-group" [ngClass]="{'has-danger': errors.email}">
    <label class='form-control-label' for="email">Email address</label>
    <input id="email"
           type="email"
           required
           name='email'
           [(ngModel)]="signUpUser.email"
           class="form-control">
    <small id="emailError" class="form-text form-control-feedback" *ngIf="errors.email">Email {{errors.email}}</small>
  </div>
  <div class="form-group" [ngClass]="{'has-danger': errors.password}">
    <label class='form-control-label' for="password">Password</label>
    <input id="password"
           type="password"
           required
           name='password'
           [(ngModel)]="signUpUser.password"
           class="form-control">
    <small class="form-text form-control-feedback" *ngIf="errors.password">Password {{errors.password}}</small>
  </div>
  <div class="form-group" [ngClass]="{'has-danger': errors.password_confirmation}">
    <label class='form-control-label' for="password_confirmation">Password confirmation</label>
    <input id="password_confirmation"
           type="password"
           required
           name='password_confirmation'
           [(ngModel)]="signUpUser.password_confirmation"
           class="form-control">
    <small class="form-text form-control-feedback" *ngIf="errors.password_confirmation">Password {{errors.password_confirmation}}</small>
  </div>
  <div class="form-group">
    <button type="submit"
            [disabled]="!(f.valid)"
            [ngClass]="{'disabled': !(f.valid)}"
            class="btn btn-success"
    >
      Sign Up </button>
  </div>
</form>

