<div class="container">
  <div class="row">
    <div class="col-md-12 text-center m-3">
      <h2>My TODOs</h2>
    </div>
  </div>

  <app-project-info *ngFor="let project of projects"
                    [project]='project'
                    (onDestroy)='handleDestroy($event)'
                    (onUpdate)='handleUpdate($event)'
  ></app-project-info>

  <div class="row mt-0 pt-0">
    <div class="col-md-12 text-center">
      <div class="btn btn-success w-75" (click)="addProject()">Add Project</div>
    </div>
  </div>
</div>
