<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-9">
        <app-project-edit [(project)]="project"></app-project-edit>
      </div>
      <div class="col-md-3">
        <button (click)="deleteProject()" class="btn btn-danger pull-right"><span class="fa fa-trash"></span></button>
      </div>
    </div>
  </div>
  <div class="card-header">
    <app-project-info-form [project]="project" (onTaskAdd)="handleTaskAdd($event)"></app-project-info-form>
  </div>
  <ul class="list-group" dnd-sortable-container [sortableData]="project.tasks">
    <li class="list-group-item"
        *ngFor="let task of project.tasks; let i = index"
        dnd-sortable
        [sortableIndex]="i"
        (onDropSuccess)="handleDrop(i)">
      <div class="col-sm-4">{{task.id}}.{{task.name | humanize}}</div>
      <div class="col-sm-4">{{task.status}} - {{task.order}}</div>
      <div class="col-sm-4">{{task.deadline | date | deadline}}</div>
    </li>
  </ul>
</div>
