<ul class="list-group" dnd-sortable-container [sortableData]="tasks" >
  <li class="list-group-item list-group-item-action justify-content-between"
      *ngFor="let task of tasks; let i = index"
      dnd-sortable
      [sortableIndex]="i"
      (onDropSuccess)="handleDrop(i)">
    {{task.name | humanize}}
    <div>
      <span class="badge badge-success badge-pill" [ngClass]="task.status">{{task.status | humanize}}</span>
      <span class="badge badge-warning badge-pill" *ngIf="task.deadline">{{task.deadline | date }}</span>
    </div>
    <div class="btn-group btn-group-sm">
      <button (click)="startTask(task)" class="btn btn-success" *ngIf="task.isOnHold()"><span class="fa fa-play"></span></button>
      <button (click)="finishTask(task)" class="btn btn-success" *ngIf="task.isInProgress()"><span class="fa fa-check"></span></button>
      <button (click)="destroyTask(task)" class="btn btn-danger"><span class="fa fa-trash"></span></button>
    </div>
  </li>
</ul>
